
@import '_icons.less';

#menu-magestio-core-menu {
    & > a:before {
        content: @icon-magestio__content;
        font-family: @icons-magestio__font-name;
        font-size: 2rem;
        padding-top: .2rem;
    }
}